@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600,700);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

/* -------- Reset styles ------- */
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

*:focus {
   outline: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

ul,
ol,
li {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

button {
   background-color: transparent;
   cursor: pointer;
   border: none;
   line-height: 0;
}

input,
textarea,
button {
   font-family: inherit;
   font-weight: inherit;
   font-size: inherit;
   color: inherit;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

html,
body {
   height: 100%;
   line-height: 1.5;
}

/* -------- / Reset styles ------ */



/* =============== Сommon styles ============ */
:root {
   --yellow-color: #fecb00;
   --white-bg: #ffffff;
   --dark-bg: #202026;
   --contacts-bg: #292a30;
   --image-bg: #2d2f42;
}

body {
   font-family: "Montserrat", sans-serif;
   font-size: 16px;
   color: #282828;
}

[class*="__container"] {
   max-width: 1170px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

.profile,
.about-me,
.projects,
.experience {
   /* padding-top: 30px;
   padding-right: 40px;
   padding-bottom: 10px;
   padding-left: 40px; */

   padding: 30px 40px 10px 40px;
}

.contacts,
.skills,
.languages,
.education {
   /* padding-top: 30px;
   padding-right: 15px;
   padding-bottom: 10px;
   padding-left: 40px; */

   padding: 30px 15px 10px 40px;
}

.section__title {
   font-size: 20px;
   line-height: 2;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.main__column_black .section__title {
   border-bottom: 2px solid var(--yellow-color)
}

.main__column_white .section__title {
   border-bottom: 2px solid var(--dark-bg);
}

/* ============== / Сommon styles =========== */




/* ================ HEADER ================== */
.header {
   padding-top: 50px;
   padding-bottom: 50px;
}

.header__container {}

.menu {}

.menu__list {
   display: flex;
   gap: 30px;
}

.menu__item {}

.menu__link {}

/* ================ /HEADER ================== */



/* ================== MAIN =================== */

.main__container {
   display: flex;
}

.main__column {}

.main__column_black {
   color: #ffffff;
   background-color: #202026;
   flex: 0 0 35%;
}

.main__column_white {
   color: #282828;
   background-color: #ffffff;
   flex-grow: 1;
}

/* ------------------------------- */


/* -------- Profile section ------ */
.profile {
   background-color: var(--yellow-color);
   padding-top: 50px;
   padding-bottom: 50px;
}

.profile__title {}

.title {
   font-size: 48px;
   line-height: 1.5;
   letter-spacing: 0.1em;
   text-transform: uppercase;
}

.title_strong {
   font-weight: 700;
}

.profile__subtitle {
   text-transform: uppercase;
   letter-spacing: 0.1em;
}

/* -------- /Profile section ------ */


/* ------------ About me ---------- */
.about-me {}

.section__title {}

.about-me__text {
   line-height: 1.5;
}

/* ------------ /About me --------- */



/* ------------ Projects ---------- */
.projects {}

.section__title {}

.projects__item {
   padding-left: 35px;
   position: relative;
}

.projects__item::before {
   content: "";
   display: block;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: var(--yellow-color);

   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
}


.projects__item:not(:last-child) {
   margin-bottom: 20px;
}

.project {
   line-height: 2;
}

.project__live-page {}


.project__live-page_tech {
   font-weight: 500;
}

.project__repo {}

.project__live-page,
.project__repo {
   font-weight: 600;
   display: block;
   transition: color 200ms ease;
}

.project__live-page:hover,
.project__repo:hover {
   color: var(--yellow-color);
}

.project__desc {}

.project__role {}

/* ------------ /Projects --------- */




/* ------------ Experience --------- */
.experience {}

.experience__list {
   line-height: 2;
}

.experience__item:not(:last-child) {
   margin-bottom: 20px;
}

.experience__item {}



.item-experience {
   display: flex;
   gap: 80px;
}

.item-experience__period {
   font-size: 18px;
   flex-shrink: 0;
}

.item-experience__company {
   font-weight: 600;
   font-size: 18px;
   margin-bottom: 10px;
}

.item-experience__position {}

.item-experience__title {
   /* text-decoration: underline; */
}

.item-experience__list {}

.item-experience__item {
   line-height: 1.5;
   position: relative;
   padding-left: 25px;
}

.item-experience__item:not(:last-child) {
   margin-bottom: 15px;
}

.item-experience__item::before {
   content: "";
   display: block;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background-color: var(--yellow-color);

   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
}


/* ----------- /Experience --------- */




/* ---------------- Avatar --------- */
.avatar {}

.avatar__thumb {
   width: 100%;
}

.avatar__image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* -------------- /Avatar ----------- */







/* -------------- Contacts ---------- */

.contacts__list {
   margin-left: 20px;
}

.social__item:not(:last-child) {
   margin-bottom: 10px;
}

.social__address {
   font-style: normal;
}

/* -------------- /Contacts ---------- */



/* -------------- Skills ---------- */
.skills {}

.skills__list {
   margin-left: 20px;
}

.skills__item {
   display: flex;
   align-items: center;
   column-gap: 10px;
}

.skills__item::before {
   content: "";
   display: block;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background-color: var(--yellow-color);
}

.skills__item:not(:last-child) {
   margin-bottom: 10px;
}

/* -------------- /Skills ---------- */



/* -------------- Languages --------- */
.languages {}

.section__title {}

.languages__list {
   margin-left: 20px;
}

.languages__item {}

.languages__item:not(:last-child) {
   margin-bottom: 10px;
}

/* ------------- /Languages --------- */



/* ------------- Education --------- */
.education {}

.section__title {}

.education__list {
   margin-left: 20px;
}

.education__item {}

.education__item:not(:last-child) {
   margin-bottom: 15px;
}

.item-education {}

.item-education__source {
   font-weight: 600;
   font-size: 18px;
}

.item-education__course {}

.item-education__period {}

/* ------------- /Education --------- */

/* ================ /MAIN ================== */



/* ================ FOOTER ================== */
.footer {}

.footer__container {}

.footer__inner-container {
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: var(--yellow-color);
}

.footer__git {}

.footer__year {}

.footer__logo {}

/* ================ /FOOTER ================= */